In [56]:
# I used the python ML guide from https://thecleverprogrammer.com/2020/11/14/stock-price-prediction-using-machine-learning/ 
# with data sourced from Kaggle https://www.kaggle.com/iamsouravbanerjee/nifty50-stocks-dataset
# had to debug to import csv and convert string to float. 
# based on low score at end, concluded dataset does not work with the ML template, check other variable to be sure.
# still improved python understanding, debugging skills and increased confidence working with python & notebooks

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[forecast_col]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-forecast_out:] #creating the column i want to use later in the predicting method
    X = X[:-forecast_out] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [7]:
df = pd.read_csv(r"C:\Users\xxxx\xxxx\Documents\ML_projects\ind_stocks.csv")

In [9]:
df.head(5)

,Symbol,Open,High,Low,LTP,Chng,% Chng,Volume (lacs),Turnover (crs.),52w H,52w L,365 d % chng,30 d % chng
0,ADANIPORTS,750,766,713.25,715,-47.45,-6.22,72.20,532.63,901,384.4,79.22,-4.65
1,ASIANPAINT,"3,101.00","3,167.35","3,091.00","3,138.00",-6.25,-0.20,10.29,322.53,"3,505.00","2,117.15",45.66,5.66
2,AXISBANK,669,674.9,660.45,661,-18.90,-2.78,102.53,684,866.9,568.4,10.19,-21.49
3,BAJAJ-AUTO,"3,370.00","3,383.50","3,320.00","3,335.00",-56.70,-1.67,3.42,114.59,"4,361.40","3,041.00",9.30,-12.05
4,BAJAJFINSV,"17,200.00","17,237.20","16,610.00","16,684.00",-684.85,-3.94,3.42,576.79,"19,325.00","8,273.70",91.38,-9.10

In [25]:
forecast_col = 'Open'
forecast_out = 5
test_size = 0.2

In [27]:
# X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,float(forecast_col),forecast_out,test_size); #calling the method were the cross validation and data preperation is in
# learner = LinearRegression() #initializing linear regression model

# learner.fit(X_train,Y_train) #training the linear regression model

#debugging to solve ValueError: could not convert string to float: 'Open'

In [28]:
# import locale
# locale.setlocale(locale.LC_ALL, 'en_US.UTF-8')
# locale.atof(df.Open)

# throwing error TypeError: cannot convert the series to <class 'float'>

In [30]:
# c = df.select_dtypes(object).columns
# df[c] = df[c].apply(pd.to_numeric,errors='coerce')

# this one created lots of NaN values so not using

In [22]:
df.head(5)

,Symbol,Open,High,Low,LTP,Chng,% Chng,Volume (lacs),Turnover (crs.),52w H,52w L,365 d % chng,30 d % chng
0,NaN,750.0,766.0,713.25,715.0,-47.45,-6.22,72.20,532.63,901.0,384.4,79.22,-4.65
1,NaN,NaN,NaN,NaN,NaN,-6.25,-0.20,10.29,322.53,NaN,NaN,45.66,5.66
2,NaN,669.0,674.9,660.45,661.0,-18.90,-2.78,102.53,684.00,866.9,568.4,10.19,-21.49
3,NaN,NaN,NaN,NaN,NaN,-56.70,-1.67,3.42,114.59,NaN,NaN,9.30,-12.05
4,NaN,NaN,NaN,NaN,NaN,-684.85,-3.94,3.42,576.79,NaN,NaN,91.38,-9.10

In [31]:
# df['Open'].apply(lambda x: float(x))

# This gave error ValueError: could not convert string to float: '3,101.00'

In [33]:
#re-read in df:

df = pd.read_csv(r"C:\Users\xxxx\xxxx\Documents\ML_projects\ind_stocks.csv")

In [34]:
df.Open = df.Open.apply(lambda x : x.replace(',',''))

In [35]:
df.head(5)

,Symbol,Open,High,Low,LTP,Chng,% Chng,Volume (lacs),Turnover (crs.),52w H,52w L,365 d % chng,30 d % chng
0,ADANIPORTS,750,766,713.25,715,-47.45,-6.22,72.20,532.63,901,384.4,79.22,-4.65
1,ASIANPAINT,3101.00,"3,167.35","3,091.00","3,138.00",-6.25,-0.20,10.29,322.53,"3,505.00","2,117.15",45.66,5.66
2,AXISBANK,669,674.9,660.45,661,-18.90,-2.78,102.53,684,866.9,568.4,10.19,-21.49
3,BAJAJ-AUTO,3370.00,"3,383.50","3,320.00","3,335.00",-56.70,-1.67,3.42,114.59,"4,361.40","3,041.00",9.30,-12.05
4,BAJAJFINSV,17200.00,"17,237.20","16,610.00","16,684.00",-684.85,-3.94,3.42,576.79,"19,325.00","8,273.70",91.38,-9.10

In [40]:
df['Open'] = df['Open']. astype(float)

In [44]:
df.dtypes

Symbol              object
Open               float64
High                object
Low                 object
LTP                 object
Chng               float64
% Chng             float64
Volume (lacs)      float64
Turnover (crs.)     object
52w H               object
52w L               object
365 d % chng       float64
30 d % chng        float64
dtype: object

In [45]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,forecast_col,forecast_out,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing linear regression model

learner.fit(X_train,Y_train) #training the linear regression model

LinearRegression()

In [46]:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': 0.012921311802699842, 'forecast_set': array([2821.73765733, 2755.67336763, 2345.8655969 , 2886.55006916,
       2893.99795023])}

In [58]:
#Pretty sure this template will not work with df, however going to try on High column instead of Open to be sure

In [53]:
forecast_col2 = 'High'
forecast_out = 5
test_size = 0.2

In [49]:
df.High = df.High.apply(lambda x : x.replace(',',''))

In [50]:
df['High'] = df['High']. astype(float)

In [54]:
X_train, X_test, Y_train, Y_test , X_lately =prepare_data(df,forecast_col2,forecast_out,test_size); #calling the method were the cross validation and data preperation is in
learner = LinearRegression() #initializing linear regression model

learner.fit(X_train,Y_train) #training the linear regression model

LinearRegression()

In [55]:
score=learner.score(X_test,Y_test)#testing the linear regression model
forecast= learner.predict(X_lately) #set that will contain the forecasted data
response={}#creting json object
response['test_score']=score
response['forecast_set']=forecast

print(response)

{'test_score': 0.0120250924744153, 'forecast_set': array([2853.08333204, 2786.42397331, 2370.24000676, 2918.85666648,
       2926.16836239])}